* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variable */
html {
  font-size: 16px;
}

body section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
  color: pink;
  width: 100%;
  height: 100vh;
}
body section ul {
  display: flex;
}
body section ul li {
  width: 100px;
  height: 100px;
  background: cornsilk;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}