* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* variable */

html {
  font-size: 16px;
}

body {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: skyblue;
    h1 {
      font-size: 50px;
      color: #fff;
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      width: 400px;
      flex-wrap: wrap;
      li {
        width: calc(100% / 9 - 4px);
        height: 30px;
        background: cornsilk;
        margin: 0 2px 2px;
      }
    }
  }
}
