body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body #container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}