#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 240px;
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.8)),
    url("./img/bg.jpg") center / cover no-repeat;
}

.wrapper_right {
  order: 2;
}

.wrapper_left {
  .game_cards {
    width: 200px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    .game_card {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 15px;
      position: relative;
      width: 200px;
      padding: 10px 15px;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: 0.5s;
      h3 {
        font-size: 14px;
        color: #a1a1a1;
        transition: 0.5s;
      }
      p {
        font-size: 18px;
        color: #eaeaea;
        transition: 0.5s;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        h3 {
          font-size: 14px;
          color: #adacac;
        }
        p {
          font-size: 18px;
          color: #fcfcfc;
        }
      }
    }
  }
}

#login {
  position: absolute;
  top: 20px;
  right: 20px;
}

#login input[type="submit"] {
  font-size: 18px;
  padding: 8px 45px;
  border-radius: 0px;
  border: 1px solid transparent;
  background: #fff;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
  }
}

/* LOGO */
#logo {
  width: 175px;
  height: 53px;
  background: url("./img/Nexon_logo.svg") center/cover no-repeat;
  margin: 20px auto;
}

/* LOGON */
#logon {
  color: #fff;
  width: 463px;
  height: 650px;
  background: radial-gradient(rgba(35, 37, 39, 0.7), rgba(35, 37, 39, 0.7)),
    url("./img/middle.png") center / cover no-repeat;
  margin: 0 auto;
  border-radius: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.logon_contents {
  color: #fff;
  font-size: 14px;
}

.title {
  width: 423px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
}
#calendar {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 30px;
}
select {
  width: 140px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  color: #222;
  padding-left: 30px;
  &:first-child {
    border-radius: 0px;
  }
  &:last-child {
    border-radius: 0px;
  }
}

.username #user {
  width: 100%;
  height: 40px;
  margin: 10px 0 30px;
  padding-left: 12px;
  border: 1px solid #707070;
  border-radius: 0px;
  background-color: #fff;
  color: #222;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}

.userpassword #password {
  width: 100%;
  height: 40px;
  margin: 10px 0 30px;
  padding-left: 12px;
  border: 1px solid #707070;
  border-radius: 0px;

  background-color: #fff;
  color: #222;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}

#gender_btn {
  display: flex;
  margin: 10px 0 30px;
  button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #222;
    border: 1px solid #707070;
    &:first-child {
      border-radius: 0px;

      border-right: transparent;
    }
    &:last-child {
      border-radius: 0px;
    }
    i {
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 24px;
      padding: 10px;
      border: 2px solid transparent;
      border-radius: 100%;
      &.filledA {
        border: 2px solid #dc143c;
        background-color: #dc143c;
        color: #fff;
      }
      &.filledB {
        border: 2px solid #007bff;
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}

.check {
  margin: 25px 0;
  input[type="checkbox"] {
    scale: 2;
    margin: 10px;
  }
}

.btn {
  margin-bottom: 20px;
}
.btn input[type="submit"] {
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  border-color: #fff;
  border-radius: 0px;

  color: #222;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s;
  &:hover {
    border: 1px solid #919293;
    background-color: #222;
    color: #fff;
  }
}
