/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* wrapper */
#wrapper {
  font-family: "Noto Sans KR", sans-serif;
}

/* main */
#main {
  width: 100%;
  height: 1080px;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 1)),
    url("./assets/bg-image.jpg") center/cover no-repeat;
}

/* header */
#header {
  width: 100%;
}
/* nav */

#header-nav {
  width: 1280px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 170px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-nav-leftBox {
  display: flex;
  gap: 40px;
}
.header-nav-leftBox-logo {
  width: 176px;
  height: 47px;
  background-image: url("./assets/logos_netflix.png");
  object-fit: contain;
  background-repeat: no-repeat;
}
.header-nav-leftBox-menu {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 22px;
}

.header-nav-leftBox-menu li.active {
  font-weight: 700;
  font-size: 24px;
}

.header-nav-rightBox {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* translate */
.translater {
  position: relative;
  display: flex;
  width: 188px;
  height: 52px;
  border: 1px solid #afafaf;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
  align-items: center;
}

#translate {
  position: absolute;
  left: 0;
  top: 0;
  width: 188px;
  height: 52px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 700;
  appearance: none;
  background: url("./assets/Translate_arrow.png") no-repeat right 24px center;
  cursor: pointer;
}
#translate:focus {
  outline: none;
}
#translate option {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  font-size: 22px;
  background-color: #db202c;
  border-radius: 7px;
}

/* main-slide */
#main-slide {
  width: 100%;
}
.main-slide-text {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 180px;
  color: #fff;
}

.main-slide-text-title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 48px;
  font-weight: bold;
}
.main-slide-text-descr {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: 32px;
}
.main-slide-text-buttonBox {
  width: 420px;
  height: 76px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.main-slide-text-buttonBox button {
  width: 420px;
  height: 76px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #db202c;
  border: none;
  border-radius: 7px;
}

.main-slide-text-buttonBox i {
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-40%);
}

/* cards */
#cards {
  width: 100%;
}

.cardsBox {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid red;
  color: #fff;
}

.cardsBox-card {
  width: 292px;
  height: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid red;
  background-color: ;
}

.cardsBox-card-top {
  display: flex;
  justify-content: flex-end;
}

.cardsBox-card-bottom-title {
  font-size: 22px;
  font-weight: bold;
}

.cardsBox-card-bottom {
  width: 291px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}
