* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variable */
html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: skyblue;
  overflow: hidden;
}
body .cursorItem {
  position: absolute;
  top: 0;
  left: 0;
}
body .cursorItem .circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background: pink;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5s;
  transition: transform 0.4s;
  pointer-events: none;
}
body .gatebox {
  color: #fff;
  font-size: 20px;
  width: 400px;
}
body .gatebox .top {
  border: 2px solid #fff;
  text-align: center;
  padding: 10px 30px;
}
body .gatebox .bottom {
  border: 2px solid #fff;
  border-top: none;
  display: flex;
  justify-content: space-evenly;
}
body .gatebox .bottom a {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  transition: color 0.4s, background 0.4s;
}
body .gatebox .bottom a:hover {
  background: #fff;
  color: #000;
}
body .gatebox .line {
  border: 1px solid #fff;
}