extends base.pug


block content 
  h4 Change Title of Video 
  //- get과 post의 보안성 취약 차이? 
  form(method="POST")
    input(type="text" name="title" placeholder="Video Title" value=video.title required)
    input(type="submit" value="저장해볼까요")
