.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  .list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .checkbox_col {
      width: 20px;
    }
    .title_col {
      flex: 1;
    }
    .date_col {
      font-size: 14px;
      color: gray;
    }
    button {
      font-size: 14px;
      cursor: pointer;
    }
  }
}
