* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variable */
html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}
body button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
body canvas {
  background: #fff;
  border: 1px solid #ccc;
}