* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variable */
html {
  font-size: 16px;
}

body {
  background: linear-gradient(150deg, #13f0cf, #ddf311);
}
body .progressWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2d9c9a;
}
body .progressWrap .bar {
  width: 0%;
  height: inherit;
  background: #fff;
  transition: width 0.4s;
}
body h1 {
  position: fixed;
  left: 50px;
  bottom: 50px;
  font-size: 60px;
  color: #fff;
}
body .innerWrap {
  width: 100%;
  height: 5000px;
}