* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "youtube";
  src: url("./font/AnyConv.com__KFOmCnqEu92Fr1Mu4mxPKTU1Kg.otf");
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "youtube";
}
body #container {
  border: 1px solid #f00;
  position: relative;
  width: 390px;
  height: 1000px;
  background: #fff;
}

/* HEADER */
header {
  width: 390px;
  position: fixed;
  top: 0px;
  z-index: 10;
}
header #header_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background: #000;
}
header #header_contents img {
  height: 22px;
}
header #header_contents #header_right {
  width: 54px;
  display: flex;
  justify-content: space-between;
}
header #header_contents #header_right .fa-solid {
  color: #fff;
}

/* FIGURE */
figure {
  position: fixed;
  top: 50px;
  z-index: 10;
  width: 390px;
  height: 220px;
}
figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MAIN */