.box {
  width: 30px;
  height: 30px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(-45deg);
  transition: transform 0.5s;
}

.skill__icons li:hover,
.active {
  .box {
    transform: rotateX(-45deg) rotateY(45deg);
  }
}

.side {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.front {
  transform: translateZ(15px);
  background-color: #101010;
}

.back {
  transform: rotateY(180deg) translateZ(15px);
  background-color: #101010;
}

.left {
  transform: rotateY(-90deg) translateZ(15px);
  background-color: #101010;
}

.right {
  transform: rotateY(90deg) translateZ(15px);
  background-color: #101010;
}

.top {
  transform: rotateX(-90deg) translateZ(15px);
  background-color: #101010;
}

.bottom {
  transform: rotateX(90deg) translateZ(15px);
}
