/* RESET */
@import "./reset.scss";

/* MONTSERRAT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* MANROPE */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* SOURCE */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* OVER CODE */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* VARIABLE */
$main-font-color: #222;
$main-light-bg: #fff;
$main-item-border: #ddd;

/* COMMON */
body {
  font-family: "Montserrat", sans-serif;
  color: $main-font-color;
  background-color: $main-light-bg;
  .cd-section {
    height: 100vh;
    & > div {
      height: 100%;
      position: relative;
      .content {
        background: #ddd;
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 80px);
        overflow: hidden;
      }
    }
  }
}

/* AWARDS */
.awards-inner {
  height: 100%;
  border: 1px solid main-item-border;
  display: flex;
  & > div {
    flex: 1;
    height: 100%;
    position: relative;
    &.about-awards {
      background: #1a1f24;
      color: $main-light-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .about-heading {
        text-align: center;
        p {
          color: #999;
        }
      }
    }
  }
}
